body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:fixed;
  left:0px;
  top:0px;
  width:1680px;
  height:70px;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:1680px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:25px;
  width:62px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:0px;
  width:70px;
  height:70px;
  display:flex;
  transition:none;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:80px;
  height:80px;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:16px;
  width:288px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:1043px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1680px;
  height:1043px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:946px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:97px;
  width:854px;
  height:946px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:138px;
  width:80px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:180px;
  width:196px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:235px;
  width:155px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-style:normal;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:366px;
  width:201px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-style:normal;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:505px;
  width:137px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u15_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u15_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u15_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:545px;
  width:433px;
  height:125px;
  display:flex;
  opacity:0.5;
  transition:none;
  transform-origin:50% 50%;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15.hint {
}
#u15_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15.disabled {
}
#u15_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:125px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u15.hint.disabled {
}
#u16 label {
  left:0px;
  width:100%;
  height:100%;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:274px;
  width:140px;
  height:15px;
  display:flex;
  transition:none;
  color:#000000;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.disabled {
}
#u16.disabled {
}
#u16_img.selected.error {
}
#u16.selected.error {
}
#u16_img.selected.hint {
}
#u16.selected.hint {
}
#u16_img.selected.error.hint {
}
#u16.selected.error.hint {
}
#u16_img.mouseOver.selected {
}
#u16.mouseOver.selected {
}
#u16_img.mouseOver.selected.error {
}
#u16.mouseOver.selected.error {
}
#u16_img.mouseOver.selected.hint {
}
#u16.mouseOver.selected.hint {
}
#u16_img.mouseOver.selected.error.hint {
}
#u16.mouseOver.selected.error.hint {
}
#u16_img.mouseDown.selected {
}
#u16.mouseDown.selected {
}
#u16_img.mouseDown.selected.error {
}
#u16.mouseDown.selected.error {
}
#u16_img.mouseDown.selected.hint {
}
#u16.mouseDown.selected.hint {
}
#u16_img.mouseDown.selected.error.hint {
}
#u16.mouseDown.selected.error.hint {
}
#u16_img.mouseOver.mouseDown.selected {
}
#u16.mouseOver.mouseDown.selected {
}
#u16_img.mouseOver.mouseDown.selected.error {
}
#u16.mouseOver.mouseDown.selected.error {
}
#u16_img.mouseOver.mouseDown.selected.hint {
}
#u16.mouseOver.mouseDown.selected.hint {
}
#u16_img.mouseOver.mouseDown.selected.error.hint {
}
#u16.mouseOver.mouseDown.selected.error.hint {
}
#u16_img.focused.selected {
}
#u16.focused.selected {
}
#u16_img.focused.selected.error {
}
#u16.focused.selected.error {
}
#u16_img.focused.selected.hint {
}
#u16.focused.selected.hint {
}
#u16_img.focused.selected.error.hint {
}
#u16.focused.selected.error.hint {
}
#u16_img.selected.disabled {
}
#u16.selected.disabled {
}
#u16_img.selected.hint.disabled {
}
#u16.selected.hint.disabled {
}
#u16_img.selected.error.disabled {
}
#u16.selected.error.disabled {
}
#u16_img.selected.error.hint.disabled {
}
#u16.selected.error.hint.disabled {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:128px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u17 label {
  left:0px;
  width:100%;
  height:100%;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:305px;
  width:160px;
  height:15px;
  display:flex;
  transition:none;
  color:#000000;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.disabled {
}
#u17.disabled {
}
#u17_img.selected.error {
}
#u17.selected.error {
}
#u17_img.selected.hint {
}
#u17.selected.hint {
}
#u17_img.selected.error.hint {
}
#u17.selected.error.hint {
}
#u17_img.mouseOver.selected {
}
#u17.mouseOver.selected {
}
#u17_img.mouseOver.selected.error {
}
#u17.mouseOver.selected.error {
}
#u17_img.mouseOver.selected.hint {
}
#u17.mouseOver.selected.hint {
}
#u17_img.mouseOver.selected.error.hint {
}
#u17.mouseOver.selected.error.hint {
}
#u17_img.mouseDown.selected {
}
#u17.mouseDown.selected {
}
#u17_img.mouseDown.selected.error {
}
#u17.mouseDown.selected.error {
}
#u17_img.mouseDown.selected.hint {
}
#u17.mouseDown.selected.hint {
}
#u17_img.mouseDown.selected.error.hint {
}
#u17.mouseDown.selected.error.hint {
}
#u17_img.mouseOver.mouseDown.selected {
}
#u17.mouseOver.mouseDown.selected {
}
#u17_img.mouseOver.mouseDown.selected.error {
}
#u17.mouseOver.mouseDown.selected.error {
}
#u17_img.mouseOver.mouseDown.selected.hint {
}
#u17.mouseOver.mouseDown.selected.hint {
}
#u17_img.mouseOver.mouseDown.selected.error.hint {
}
#u17.mouseOver.mouseDown.selected.error.hint {
}
#u17_img.focused.selected {
}
#u17.focused.selected {
}
#u17_img.focused.selected.error {
}
#u17.focused.selected.error {
}
#u17_img.focused.selected.hint {
}
#u17.focused.selected.hint {
}
#u17_img.focused.selected.error.hint {
}
#u17.focused.selected.error.hint {
}
#u17_img.selected.disabled {
}
#u17.selected.disabled {
}
#u17_img.selected.hint.disabled {
}
#u17.selected.hint.disabled {
}
#u17_img.selected.error.disabled {
}
#u17.selected.error.disabled {
}
#u17_img.selected.error.hint.disabled {
}
#u17.selected.error.hint.disabled {
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:148px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18 label {
  left:0px;
  width:100%;
  height:100%;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:401px;
  width:131px;
  height:15px;
  display:flex;
  transition:none;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.disabled {
}
#u18.disabled {
}
#u18_img.selected.error {
}
#u18.selected.error {
}
#u18_img.selected.hint {
}
#u18.selected.hint {
}
#u18_img.selected.error.hint {
}
#u18.selected.error.hint {
}
#u18_img.mouseOver.selected {
}
#u18.mouseOver.selected {
}
#u18_img.mouseOver.selected.error {
}
#u18.mouseOver.selected.error {
}
#u18_img.mouseOver.selected.hint {
}
#u18.mouseOver.selected.hint {
}
#u18_img.mouseOver.selected.error.hint {
}
#u18.mouseOver.selected.error.hint {
}
#u18_img.mouseDown.selected {
}
#u18.mouseDown.selected {
}
#u18_img.mouseDown.selected.error {
}
#u18.mouseDown.selected.error {
}
#u18_img.mouseDown.selected.hint {
}
#u18.mouseDown.selected.hint {
}
#u18_img.mouseDown.selected.error.hint {
}
#u18.mouseDown.selected.error.hint {
}
#u18_img.mouseOver.mouseDown.selected {
}
#u18.mouseOver.mouseDown.selected {
}
#u18_img.mouseOver.mouseDown.selected.error {
}
#u18.mouseOver.mouseDown.selected.error {
}
#u18_img.mouseOver.mouseDown.selected.hint {
}
#u18.mouseOver.mouseDown.selected.hint {
}
#u18_img.mouseOver.mouseDown.selected.error.hint {
}
#u18.mouseOver.mouseDown.selected.error.hint {
}
#u18_img.focused.selected {
}
#u18.focused.selected {
}
#u18_img.focused.selected.error {
}
#u18.focused.selected.error {
}
#u18_img.focused.selected.hint {
}
#u18.focused.selected.hint {
}
#u18_img.focused.selected.error.hint {
}
#u18.focused.selected.error.hint {
}
#u18_img.selected.disabled {
}
#u18.selected.disabled {
}
#u18_img.selected.hint.disabled {
}
#u18.selected.hint.disabled {
}
#u18_img.selected.error.disabled {
}
#u18.selected.error.disabled {
}
#u18_img.selected.error.hint.disabled {
}
#u18.selected.error.hint.disabled {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:119px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19 label {
  left:0px;
  width:100%;
  height:100%;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:336px;
  width:140px;
  height:15px;
  display:flex;
  transition:none;
  color:#000000;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.disabled {
}
#u19.disabled {
}
#u19_img.selected.error {
}
#u19.selected.error {
}
#u19_img.selected.hint {
}
#u19.selected.hint {
}
#u19_img.selected.error.hint {
}
#u19.selected.error.hint {
}
#u19_img.mouseOver.selected {
}
#u19.mouseOver.selected {
}
#u19_img.mouseOver.selected.error {
}
#u19.mouseOver.selected.error {
}
#u19_img.mouseOver.selected.hint {
}
#u19.mouseOver.selected.hint {
}
#u19_img.mouseOver.selected.error.hint {
}
#u19.mouseOver.selected.error.hint {
}
#u19_img.mouseDown.selected {
}
#u19.mouseDown.selected {
}
#u19_img.mouseDown.selected.error {
}
#u19.mouseDown.selected.error {
}
#u19_img.mouseDown.selected.hint {
}
#u19.mouseDown.selected.hint {
}
#u19_img.mouseDown.selected.error.hint {
}
#u19.mouseDown.selected.error.hint {
}
#u19_img.mouseOver.mouseDown.selected {
}
#u19.mouseOver.mouseDown.selected {
}
#u19_img.mouseOver.mouseDown.selected.error {
}
#u19.mouseOver.mouseDown.selected.error {
}
#u19_img.mouseOver.mouseDown.selected.hint {
}
#u19.mouseOver.mouseDown.selected.hint {
}
#u19_img.mouseOver.mouseDown.selected.error.hint {
}
#u19.mouseOver.mouseDown.selected.error.hint {
}
#u19_img.focused.selected {
}
#u19.focused.selected {
}
#u19_img.focused.selected.error {
}
#u19.focused.selected.error {
}
#u19_img.focused.selected.hint {
}
#u19.focused.selected.hint {
}
#u19_img.focused.selected.error.hint {
}
#u19.focused.selected.error.hint {
}
#u19_img.selected.disabled {
}
#u19.selected.disabled {
}
#u19_img.selected.hint.disabled {
}
#u19.selected.hint.disabled {
}
#u19_img.selected.error.disabled {
}
#u19.selected.error.disabled {
}
#u19_img.selected.error.hint.disabled {
}
#u19.selected.error.hint.disabled {
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:128px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20 label {
  left:0px;
  width:100%;
  height:100%;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:433px;
  width:131px;
  height:15px;
  display:flex;
  transition:none;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.disabled {
}
#u20.disabled {
}
#u20_img.selected.error {
}
#u20.selected.error {
}
#u20_img.selected.hint {
}
#u20.selected.hint {
}
#u20_img.selected.error.hint {
}
#u20.selected.error.hint {
}
#u20_img.mouseOver.selected {
}
#u20.mouseOver.selected {
}
#u20_img.mouseOver.selected.error {
}
#u20.mouseOver.selected.error {
}
#u20_img.mouseOver.selected.hint {
}
#u20.mouseOver.selected.hint {
}
#u20_img.mouseOver.selected.error.hint {
}
#u20.mouseOver.selected.error.hint {
}
#u20_img.mouseDown.selected {
}
#u20.mouseDown.selected {
}
#u20_img.mouseDown.selected.error {
}
#u20.mouseDown.selected.error {
}
#u20_img.mouseDown.selected.hint {
}
#u20.mouseDown.selected.hint {
}
#u20_img.mouseDown.selected.error.hint {
}
#u20.mouseDown.selected.error.hint {
}
#u20_img.mouseOver.mouseDown.selected {
}
#u20.mouseOver.mouseDown.selected {
}
#u20_img.mouseOver.mouseDown.selected.error {
}
#u20.mouseOver.mouseDown.selected.error {
}
#u20_img.mouseOver.mouseDown.selected.hint {
}
#u20.mouseOver.mouseDown.selected.hint {
}
#u20_img.mouseOver.mouseDown.selected.error.hint {
}
#u20.mouseOver.mouseDown.selected.error.hint {
}
#u20_img.focused.selected {
}
#u20.focused.selected {
}
#u20_img.focused.selected.error {
}
#u20.focused.selected.error {
}
#u20_img.focused.selected.hint {
}
#u20.focused.selected.hint {
}
#u20_img.focused.selected.error.hint {
}
#u20.focused.selected.error.hint {
}
#u20_img.selected.disabled {
}
#u20.selected.disabled {
}
#u20_img.selected.hint.disabled {
}
#u20.selected.hint.disabled {
}
#u20_img.selected.error.disabled {
}
#u20.selected.error.disabled {
}
#u20_img.selected.error.hint.disabled {
}
#u20.selected.error.hint.disabled {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:119px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u21 label {
  left:0px;
  width:100%;
  height:100%;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:464px;
  width:131px;
  height:15px;
  display:flex;
  transition:none;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u21_img.selected {
}
#u21.selected {
}
#u21_img.disabled {
}
#u21.disabled {
}
#u21_img.selected.error {
}
#u21.selected.error {
}
#u21_img.selected.hint {
}
#u21.selected.hint {
}
#u21_img.selected.error.hint {
}
#u21.selected.error.hint {
}
#u21_img.mouseOver.selected {
}
#u21.mouseOver.selected {
}
#u21_img.mouseOver.selected.error {
}
#u21.mouseOver.selected.error {
}
#u21_img.mouseOver.selected.hint {
}
#u21.mouseOver.selected.hint {
}
#u21_img.mouseOver.selected.error.hint {
}
#u21.mouseOver.selected.error.hint {
}
#u21_img.mouseDown.selected {
}
#u21.mouseDown.selected {
}
#u21_img.mouseDown.selected.error {
}
#u21.mouseDown.selected.error {
}
#u21_img.mouseDown.selected.hint {
}
#u21.mouseDown.selected.hint {
}
#u21_img.mouseDown.selected.error.hint {
}
#u21.mouseDown.selected.error.hint {
}
#u21_img.mouseOver.mouseDown.selected {
}
#u21.mouseOver.mouseDown.selected {
}
#u21_img.mouseOver.mouseDown.selected.error {
}
#u21.mouseOver.mouseDown.selected.error {
}
#u21_img.mouseOver.mouseDown.selected.hint {
}
#u21.mouseOver.mouseDown.selected.hint {
}
#u21_img.mouseOver.mouseDown.selected.error.hint {
}
#u21.mouseOver.mouseDown.selected.error.hint {
}
#u21_img.focused.selected {
}
#u21.focused.selected {
}
#u21_img.focused.selected.error {
}
#u21.focused.selected.error {
}
#u21_img.focused.selected.hint {
}
#u21.focused.selected.hint {
}
#u21_img.focused.selected.error.hint {
}
#u21.focused.selected.error.hint {
}
#u21_img.selected.disabled {
}
#u21.selected.disabled {
}
#u21_img.selected.hint.disabled {
}
#u21.selected.hint.disabled {
}
#u21_img.selected.error.disabled {
}
#u21.selected.error.disabled {
}
#u21_img.selected.error.hint.disabled {
}
#u21.selected.error.hint.disabled {
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:119px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 88, 84, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:962px;
  width:360px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#FFFFFF;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
